In [50]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt 
import random

In [128]:
data =pd.read_csv(filepath_or_buffer="https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv")

In [49]:
print(data)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0         -114.3      34.2                15.0       5612.0          1283.0
1         -114.5      34.4                19.0       7650.0          1901.0
2         -114.6      33.7                17.0        720.0           174.0
3         -114.6      33.6                14.0       1501.0           337.0
4         -114.6      33.6                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995     -124.3      40.6                52.0       2217.0           394.0
16996     -124.3      40.7                36.0       2349.0           528.0
16997     -124.3      41.8                17.0       2677.0           531.0
16998     -124.3      41.8                19.0       2672.0           552.0
16999     -124.3      40.5                52.0       1820.0           300.0

       population  households  median_income  median_house_value  count
0          1015.0       472.0            1.5             66900.0      1
1          1129.0       463.0            1.8             80100.0      1
2           333.0       117.0            1.7             85700.0      1
3           515.0       226.0            3.2             73400.0      1
4           624.0       262.0            1.9             65500.0      1
...           ...         ...            ...                 ...    ...
16995       907.0       369.0            2.4            111400.0      1
16996      1194.0       465.0            2.5             79000.0      1
16997      1244.0       456.0            3.0            103600.0      1
16998      1298.0       478.0            2.0             85800.0      1
16999       806.0       270.0            3.0             94600.0      1

[17000 rows x 10 columns]

In [52]:
print(len(data))

17000

In [53]:
columns=data.columns
print(columns)

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'count'],
      dtype='object')

In [54]:
print(data['longitude'])

0       -114.3
1       -114.5
2       -114.6
3       -114.6
4       -114.6
         ...
16995   -124.3
16996   -124.3
16997   -124.3
16998   -124.3
16999   -124.3
Name: longitude, Length: 17000, dtype: float64

In [55]:
my_array=np.array(data['longitude'])
print(my_array)
print(my_array[0])

[-114.31 -114.47 -114.56 ... -124.3  -124.3  -124.35]
-114.31

In [56]:
print(data.shape)

(17000, 10)

In [57]:
data['count']=np.arange(1,17001)

In [58]:
print(data)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0         -114.3      34.2                15.0       5612.0          1283.0
1         -114.5      34.4                19.0       7650.0          1901.0
2         -114.6      33.7                17.0        720.0           174.0
3         -114.6      33.6                14.0       1501.0           337.0
4         -114.6      33.6                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995     -124.3      40.6                52.0       2217.0           394.0
16996     -124.3      40.7                36.0       2349.0           528.0
16997     -124.3      41.8                17.0       2677.0           531.0
16998     -124.3      41.8                19.0       2672.0           552.0
16999     -124.3      40.5                52.0       1820.0           300.0

       population  households  median_income  median_house_value  count
0          1015.0       472.0            1.5             66900.0      1
1          1129.0       463.0            1.8             80100.0      2
2           333.0       117.0            1.7             85700.0      3
3           515.0       226.0            3.2             73400.0      4
4           624.0       262.0            1.9             65500.0      5
...           ...         ...            ...                 ...    ...
16995       907.0       369.0            2.4            111400.0  16996
16996      1194.0       465.0            2.5             79000.0  16997
16997      1244.0       456.0            3.0            103600.0  16998
16998      1298.0       478.0            2.0             85800.0  16999
16999       806.0       270.0            3.0             94600.0  17000

[17000 rows x 10 columns]

In [59]:
data['count']=1
print(data)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0         -114.3      34.2                15.0       5612.0          1283.0
1         -114.5      34.4                19.0       7650.0          1901.0
2         -114.6      33.7                17.0        720.0           174.0
3         -114.6      33.6                14.0       1501.0           337.0
4         -114.6      33.6                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995     -124.3      40.6                52.0       2217.0           394.0
16996     -124.3      40.7                36.0       2349.0           528.0
16997     -124.3      41.8                17.0       2677.0           531.0
16998     -124.3      41.8                19.0       2672.0           552.0
16999     -124.3      40.5                52.0       1820.0           300.0

       population  households  median_income  median_house_value  count
0          1015.0       472.0            1.5             66900.0      1
1          1129.0       463.0            1.8             80100.0      1
2           333.0       117.0            1.7             85700.0      1
3           515.0       226.0            3.2             73400.0      1
4           624.0       262.0            1.9             65500.0      1
...           ...         ...            ...                 ...    ...
16995       907.0       369.0            2.4            111400.0      1
16996      1194.0       465.0            2.5             79000.0      1
16997      1244.0       456.0            3.0            103600.0      1
16998      1298.0       478.0            2.0             85800.0      1
16999       806.0       270.0            3.0             94600.0      1

[17000 rows x 10 columns]

In [60]:
print(data['count'].shape)

(17000,)

In [129]:
my_data=pd.DataFrame(data=my_array[:10])
my_columns=['col1']
my_data=pd.DataFrame(data=my_array[:10],columns=my_columns)
my_data['col2']=my_data['col1']+random.randint(1,100)
i=0
my_data['col3']=(10)+(np.arange(10))

In [130]:
print(my_data)

    col1  col2  col3
0 -114.3 -55.3    10
1 -114.5 -55.5    11
2 -114.6 -55.6    12
3 -114.6 -55.6    13
4 -114.6 -55.6    14
5 -114.6 -55.6    15
6 -114.6 -55.6    16
7 -114.6 -55.6    17
8 -114.6 -55.6    18
9 -114.6 -55.6    19

In [117]:
my_series=pd.Series(data=[1,2,'a','b'],index=['lipi','jain','hello','world'])
print(my_series)

lipi     1
jain     2
hello    a
world    b
dtype: object

In [124]:
print(my_series.size)
print(my_series.ndim)
print(my_series.shape)
print(my_series.values)
print(my_series.values[2])
print(my_series.index[2])
x='lipi' in my_series
print(x)

4
1
(4,)
[1 2 'a' 'b']
a
hello
True

In [125]:
print(data)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0         -114.3      34.2                15.0       5612.0          1283.0
1         -114.5      34.4                19.0       7650.0          1901.0
2         -114.6      33.7                17.0        720.0           174.0
3         -114.6      33.6                14.0       1501.0           337.0
4         -114.6      33.6                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995     -124.3      40.6                52.0       2217.0           394.0
16996     -124.3      40.7                36.0       2349.0           528.0
16997     -124.3      41.8                17.0       2677.0           531.0
16998     -124.3      41.8                19.0       2672.0           552.0
16999     -124.3      40.5                52.0       1820.0           300.0

       population  households  median_income  median_house_value  count
0          1015.0       472.0            1.5             66900.0      1
1          1129.0       463.0            1.8             80100.0      1
2           333.0       117.0            1.7             85700.0      1
3           515.0       226.0            3.2             73400.0      1
4           624.0       262.0            1.9             65500.0      1
...           ...         ...            ...                 ...    ...
16995       907.0       369.0            2.4            111400.0      1
16996      1194.0       465.0            2.5             79000.0      1
16997      1244.0       456.0            3.0            103600.0      1
16998      1298.0       478.0            2.0             85800.0      1
16999       806.0       270.0            3.0             94600.0      1

[17000 rows x 10 columns]

In [136]:
sum=(my_data['col3'].sum)
print(sum)

<bound method NDFrame._add_numeric_operations.<locals>.sum of 0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
Name: col3, dtype: int32>

In [141]:
max=my_data.max
print(max)

<bound method NDFrame._add_numeric_operations.<locals>.max of     col1  col2  col3
0 -114.3 -55.3    10
1 -114.5 -55.5    11
2 -114.6 -55.6    12
3 -114.6 -55.6    13
4 -114.6 -55.6    14
5 -114.6 -55.6    15
6 -114.6 -55.6    16
7 -114.6 -55.6    17
8 -114.6 -55.6    18
9 -114.6 -55.6    19>

In [179]:
df=data.sample(frac=0.0005)
daf=pd.DataFrame(df,index=[np.arange(8)])
print(daf)
print(df)

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        NaN       NaN                 NaN          NaN             NaN
1        NaN       NaN                 NaN          NaN             NaN
2        NaN       NaN                 NaN          NaN             NaN
3        NaN       NaN                 NaN          NaN             NaN
4        NaN       NaN                 NaN          NaN             NaN
5        NaN       NaN                 NaN          NaN             NaN
6        NaN       NaN                 NaN          NaN             NaN
7        NaN       NaN                 NaN          NaN             NaN

   population  households  median_income  median_house_value
0         NaN         NaN            NaN                 NaN
1         NaN         NaN            NaN                 NaN
2         NaN         NaN            NaN                 NaN
3         NaN         NaN            NaN                 NaN
4         NaN         NaN            NaN                 NaN
5         NaN         NaN            NaN                 NaN
6         NaN         NaN            NaN                 NaN
7         NaN         NaN            NaN                 NaN
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
13391     -121.9      38.0                18.0       2541.0           355.0
6807      -118.3      34.1                32.0       2880.0          1063.0
300       -116.8      34.2                15.0       8948.0          1985.0
7192      -118.3      34.1                50.0       2989.0           832.0
13179     -121.9      37.2                23.0       2705.0           449.0
9621      -119.4      36.6                32.0       1153.0           236.0
11526     -121.3      37.9                33.0       2109.0           531.0
15783     -122.4      37.8                52.0        361.0            76.0

       population  households  median_income  median_house_value
13391       986.0       346.0            7.2            288000.0
6807       3646.0      1028.0            2.4            258300.0
300        1316.0       514.0            2.7             90800.0
7192       1345.0       775.0            3.2            442900.0
13179      1180.0       442.0            6.1            316500.0
9621        761.0       241.0            2.8             67600.0
11526      2248.0       588.0            1.5             53000.0
15783       168.0        55.0            3.2            275000.0

In [192]:

mean=df['median_house_value'].mean(axis=0)
sd=df['median_house_value'].std(axis=0)
df['median_house_value']=(df['median_house_value']-mean)/sd
print(df)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
13391     -121.9      38.0                18.0       2541.0           355.0
6807      -118.3      34.1                32.0       2880.0          1063.0
300       -116.8      34.2                15.0       8948.0          1985.0
7192      -118.3      34.1                50.0       2989.0           832.0
13179     -121.9      37.2                23.0       2705.0           449.0
9621      -119.4      36.6                32.0       1153.0           236.0
11526     -121.3      37.9                33.0       2109.0           531.0
15783     -122.4      37.8                52.0        361.0            76.0

       population  households  median_income  median_house_value
13391       986.0       346.0            7.2                 0.5
6807       3646.0      1028.0            2.4                 0.2
300        1316.0       514.0            2.7                -1.0
7192       1345.0       775.0            3.2                 1.6
13179      1180.0       442.0            6.1                 0.7
9621        761.0       241.0            2.8                -1.1
11526      2248.0       588.0            1.5                -1.2
15783       168.0        55.0            3.2                 0.4

In [193]:
df.sum(axis=0)

longitude             -960.4
latitude               289.9
housing_median_age     255.0
total_rooms          23686.0
total_bedrooms        5527.0
population           11650.0
households            3989.0
median_income           29.2
median_house_value       0.0
dtype: float64